<h4>{{ 'Email.Common.Dear'|trans([], null, lang) }} {{ recipient_name }},</h4>

<p>{{ 'Email.Confirmation.Intro'|trans({'%date%': date}, null, lang)|raw }}</p>

<p><strong>{{ 'Activity details'|trans([], null, lang) }}:</strong></p>
<ul>
	<li><strong>{{ 'Subject'|trans([], null, lang) }}:</strong> {{ subject }}</li>
	<li><strong>{{ 'Date'|trans([], null, lang) }}:</strong> {{ date }}</li>
	<li><strong>{{ 'Location'|trans([], null, lang) }}:</strong> {{ location }}</li>
</ul>

<p>{{ 'Email.Confirmation.Body'|trans([], null, lang) }}</p>

<p>{{ 'Email.Confirmation.Closure'|trans([], null, lang) }}</p>

<p>{{ 'Email.Common.Best regards'|trans([], null, lang) }},</p>
<p>{{ sender_name }}</p>